h1{

    font-size: 30px;
    
    text-align: center;
    
    color: #da1884
    
    }
    
    
    p{
    
    font-size: 20px;
    
    text-align: left;
    
    font-family: Helvetica, sans-serif;
    
    }
    
    
    body {
    
    background-image: url('https://cdn.pixabay.com/photo/2023/07/28/14/37/flower-8155370_1280.jpg');
    background-size: cover;  /* Pour que l'image couvre toute la page */
    background-position: center center;  /* Centrer l'image */
    background-attachment: fixed;  /* L'image restera fixe pendant le défilement */
    background-color: #fee7f0; /* Ajouter une couleur de secours au cas où l'image ne se charge pas */
}
