h1{

    font-size: 30px;
    
    text-align: center;
    
    color: #da1884
    
    }
    
    
    p{
    
    font-size: 20px;
    
    text-align: left;
    
    font-family: Helvetica, sans-serif;
    
    }
    
    
    body {
    
    background-color: #fee7f0;
    
    }
